In [10]:
import pandas as pd

df=pd.read_csv(r'data.csv')
print(df.head())

print(df)

print(df.info())

print(display(df))

  Names
0   PDS
1    SE
2   ADA
3    CN
4  IPDC
  Names
0   PDS
1    SE
2   ADA
3    CN
4  IPDC
5    DE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Names   6 non-null      object
dtypes: object(1)
memory usage: 180.0+ bytes
None

  Names
0   PDS
1    SE
2   ADA
3    CN
4  IPDC
5    DE

None